select/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2015, 9:49:07 PM
    Author     : MedNabil
*/

html{

}

body{
    width: 1266px;
    margin:0px;
    background-color:#E78A23;
    color:#EFEFEF;
    margin-left:auto;
    margin-right:auto;
    opacity:0.8;
}

header{
    width: 1266px;
    height: 125px;
    background-color:#2B2122;
    color:#279DE3;
    margin-left:auto;
    margin-right:auto;
}
header h1{
    color:#E6E1DB;
}
heder img{
    width:100px;
    margin:50px;

}
#msgLogo{
    float:right;
    margin-right: 20px;
    font-size: 20px;

}
nav{
    width: 1266px;
    height: 565px;
    margin-left:auto;
    margin-right:auto;

}
section{
    color: black;
}
.taillePizza{
    border: solid 3px black;
    position:absolute;
    width: 320px;
    height: 45px;
    right: 150px;
    z-index: 10;
    text-align: left;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0.5;
}
.taillePizza a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}
.taillePizza span{
    float:right;
    margin-right:10px;
}
#divPetit{
    top:150px;
}
#divMoyen{
    top:210px;
}
#divLarge{
    top:270px;
}
#divXlarge{
    top:330px;
}
nav input[type=button]{
    font-size:15px;
    font-weight:bold;
    border-radius:30px;
    width:250px;
    height:100px;

}

#taille{
    display: none;
}
#choixPizza{
    width:40%;   
    margin: 5px;
}


/**
    CSS pour la commande
**/
#divVotreChoix fieldset{
/*    border: solid 2px yellow;*/
    width: 1200px;
    height:110px;
    background-color:white;
}
#divCommande{
/*    border: solid 2px green;*/
    position: absolute;
    width: 1250px;
    height:1000px;
    top: 100px;
    z-index: 9999;
    background-color:white;
   
}
#divCommande img{
    float: right;
}
fieldset{
    height:350px;
/*    border: solid 2px pink;*/
}
#divGenres{
/*    border: solid 2px red;*/
    width: 255px;
    height:350px;
    float:left;
}

#divIngredients{
/*    border: solid 2px blue;*/
    width: 980px;
    height:450px;
    float:left;
}
.divGroupeIngredients{
/*    border: solid 2px pink;*/
    width: 240px;
    height:350px;
    float:left;

}
input[type=radio], input[type=checkbox] {
    display:none;
}


input[type=checkbox], input[type=radio], input[type="text"], input[type="number"], input[type="textarea"]   {
    float: left;
    display: inline-block; 
    vertical-align:middle;
    padding: 0;
    margin: 0;
}

input[type="text"], input[type="number"], input[type="textarea"]   {
    float: left;
}
#infoPerso{
    width:20%;
    margin: 5px;
}

#infoPerso label{
    float: left;
    width:150px;
}
divGenres label{
    float: left;
    content: "";  
    display: inline-block;  
    vertical-align:middle;

}

.divGroupeIngredients label{
    float: left;
    content: "";  
    display: inline-block;  
    vertical-align:middle;
    padding: 0;
    margin: 0;
}
ul {
/*    border: solid 1px #E78A23;*/
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: black;
}
/*.divGroupeIngredients fieldset ul li {
    
    width: 250px;
}*/