/*  Cours INF3005 TP 1
    Created on : Feb 28, 2015, 9:49:07 PM
    Etudiants     : 
*/

html{

}

body{
    width: 1266px;
    margin:0px;
    background-color:#F3F3F3;
    color:#EFEFEF;
    margin-left:auto;
    margin-right:auto;
    
}

header{
    width: 1266px;
    height: 50px;
    background-color:#04AFDD;
    color:#279DE3;
    margin-left:auto;
    margin-right:auto;
}

header h1{
    color:#E6E1DB;
}
heder img{
    width:100px;
    margin:50px;

}

#msgLogo{
    float:right;
    margin-right: 20px;
    font-size: 20px;

}

nav{
    width: 1266px;
    height: 565px;
    margin-left:auto;
    margin-right:auto;

}

section{
    color: black;
}

.taillePizza{
    border: solid 3px black;
    position:absolute;
    width: 320px;
    height: 45px;
    right: 150px;
    z-index: 10;
    text-align: left;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0.5;
}

.taillePizza a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}
.taillePizza span{
    float:right;
    margin-right:10px;
}

#divPetit{
    top:150px;
}

#divMoyen{
    top:210px;
}
#divLarge{
    top:270px;
}

#divXlarge{
    top:330px;
}

nav input[type=button]{
    font-size:15px;
    font-weight:bold;
    border-radius:30px;
    width:250px;
    height:100px;

}

#taille{
    display: none;
}

#choixPizza{
    width:40%;   
    margin: 5px;
}

/**
    CSS pour la commande
**/

#divVotreChoix fieldset{
/*    border: solid 2px yellow;*/
    width: 1200px;
    height:50px;
    background-color:white;
}

#divCommande{
/*    border: solid 2px green;*/
    position: absolute;
    width: 1267px;
    height:900px;
    top: 50px;
/*    z-index: 9999;*/
    background-color:#EAECED;
   
}
#divCommande img{
    float: right;
}

fieldset{
    height:305px;
/*    border: solid 2px pink;*/
}

#divGenres{
/*    border: solid 2px red;*/
    width: 255px;
    height:300px;
    float:left;
}

#divIngredients{
/*    border: solid 2px blue;*/
    width: 980px;
    height:200px;
    float:left;
}

.divGroupeIngredients{
/*    border: solid 2px pink;*/
    width: 200px;
    height:165px;
    float:left;
    margin-left: 25px;

}

.divGroupeIngredients fieldset{
/*    border: solid 2px pink;*/
    width: 200px;
    height:115px;
    float:left;
    margin-left: 5px;
}

input[type=radio], input[type=checkbox] {
    display:none;
}


input[type=checkbox], input[type=radio]{
    float: left;
    display: inline-block; 
    vertical-align:middle;
    padding-left: 15px;
}

#infoPerso input, #infoPerso input[type="number"]{
/*    border: solid 5px green;*/
    float: left;
    width: 200px;
    margin-top: 15px;
    
}

#infoPerso textarea{
/*    border: solid 5px green;*/
    float: left;
    width: 370px;
    height: 100px;
    margin-top: 15px;
}
#infoPerso{
    width:35%;
    height: 40%;
    margin-left: 20%;
    
}

#infoPerso label{
/*    border: solid 1px red;*/
    float: left;
    width:150px;
    margin-right: 15px;
    margin-top: 15px;
}

divGenres label{
    float: left;
    content: "";  
    display: inline-block;  
    vertical-align:middle;
    
}

.divGroupeIngredients label{
    float: left;
    content: "";  
    display: inline-block;  
    vertical-align:middle;
    padding: 0;
    margin: 0;
}

ul {
/*    border: solid 1px #E78A23;*/
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: black;
}


.resultat{
    color: black;
}