/*  Cours INF3005 TP 1
    Created on : Feb 28, 2015, 9:49:07 PM
    Etudiants     : 
*/

html{

}

body{
    width: 1266px;
    margin:0px;
    background-color:#F3F3F3;
    color:#EFEFEF;
    margin-left:auto;
    margin-right:auto;
    font-family: Verdana, sans-serif; 
    font-size: 14px;
}

h1 {
    color: #38477E;
    font-weight: bolder;
    font-size: 18px;
}

header{
    width: 1266px;
    height: 50px;
    background-color:#04AFDD;
    color:#279DE3;
    margin-left:auto;
    margin-right:auto;
}

header h1{
    color:#E6E1DB;
}
heder img{
    width:100px;
    margin:50px;

}

#msgLogo{
    float:right;
    margin-right: 20px;
    font-size: 20px;

}

nav{
    width: 1266px;
    height: 565px;
    margin-left:auto;
    margin-right:auto;
}

section{
    color: black;
}

.taillePizza{
    border: solid 3px black;
    position:absolute;
    width: 320px;
    height: 45px;
    right: 150px;
    z-index: 10;
    text-align: left;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0.5;
}

#divGenres span{
    float:right;
}

#divPetit{
    top:150px;
}

#divMoyen{
    top:210px;
}
#divLarge{
    top:270px;
}

#divXlarge{
    top:330px;
}

nav input[type=button]{
    font-size:15px;
    font-weight:bold;
    border-radius:30px;
    width:250px;
    height:100px;

}

#taille{
    display: none;
}

#choixPizza{
    width:40%;   
    margin: 5px;
}

/**
    CSS pour la commande
**/

#divVotreChoix fieldset{
    /*    border: solid 2px yellow;*/
    width: 1200px;
    height:50px;
    background-color:white;
}

#divCommande{
    position: absolute;
    width: 1267px;
    height:900px;
    top: 50px;
    background-color:#EAECED;
}
#divCommande img{
    float: right;
}

fieldset{
    border: solid 2px black;
    height: 175px;
}

#divGenres{
    width: 255px;
    height:250px;
    float:left;
}
#divGenres fieldset ul li{
/*    border: solid 2px blue;*/
    width: 210px;
    float:left;
}
#divTaille fieldset label span{
    border: solid 2px pink;
    float : right;
}
#divIngredients{
    width: 980px;
    height:200px;
    float:left;
}

.divGroupeIngredients{
    width: 240px;
    height:125px;
    float:left;
 }
h3{
   margin: 10px;
 }

.divGroupeIngredients fieldset{
    width: 200px;
    height:115px;
    float:left;
    margin-left: 5px;
}
.divGroupeIngredients fieldset ul li {
    height: 19px;
    width: 130px;
    float:left;
    margin-left: 5px;
}
input[type=radio], input[type=checkbox] {
    display:none;
}


input[type=checkbox], input[type=radio]{
    float: left;
    display: inline-block; 
    vertical-align:middle;
    padding-left: 15px;
}

#infoPerso input, #infoPerso input[type="number"]{
    /*    border: solid 5px green;*/
    float: left;
    width: 200px;
    margin-top: 15px;

}

#infoPerso textarea{
    /*    border: solid 5px green;*/
    float: left;
    width: 370px;
    height: 100px;
    margin-top: 15px;
}
#infoPerso, #infoCommande{
    width:34%;
    height: 40%;
    float:left;
}
#infoCommande{
    width:34%;
    height: 40%;
    float:left;
}

#infoPerso label{
    /*    border: solid 1px red;*/
    float: left;
    width:150px;
    margin-right: 15px;
    margin-top: 15px;
}

divGenres fieldset{
    height: 185px;
}

.divGroupeIngredients label{
    float: left;
    content: "";  
    display: inline-block;  
    vertical-align:middle;
    padding: 0;
    margin: 0;
}

ul, #choixIngredients {

    padding: 0;
    margin: 0;
    list-style-type: none;
    color: black;
}

.cssCommande{
    color: black;
    padding:20px;
    float:left;
}

.resulat{
    color:black;
} 
.resulat caption{
    margin: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    font-stretch: expanded;
    font-weight: bolder;
} 
.resulat table {
    margin: 10px;
    border: solid black 1px; 
    border-collapse: collapse;
    width:100%;
    height:100%;
}
.resulat table tr td {
    border: solid black 1px; 
    background-color:#ADD6FF;
}
.resulat table thead th {
    border: solid black 1px; 
    background-color:#0069d3;
}
.resulat table tr:hover td {
    background-color:#F9F9FF;
}

#lien_cmd a:link, #lien_cmd a:visited {   
    color: #04AFDD;;	    
}

#lien_cmd  {
    margin-top: 30px;
	
}